.App {
  overflow: auto;
  display: flex;
  /* height: 100vh; */
  /* flex-direction: column; */
  max-width: 2390px;
  /* background-color: violet; */
  margin-top: 40px;
}
.App::-webkit-scrollbar {
  display: none;
}