.center {
    background-color: gray;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #eae9e9;
    max-width: 65%;

}
.app-right {
    background-color: antiquewhite;
    display: flex;
    width: 10%;
    margin-top: 90px;
    margin-left: 10px;
    /* height: 80%; */
}

